body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #434455;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 156px, 0px, 156px, 0px;
}

/* Header */
.site-header {
    background-color: #ffffff;
    color: #2E2F42
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #434455;
    /* Menü yazı rengi */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-link:hover {
    color: #4D5AE5;

}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.address-link {
    color: #434455;
    font-size: 14px;
    text-decoration: none;
}

.address-link:hover {
    color: #4D5AE5;
}

/* Hero Section */
.hero-section {
    background-color: #2e2f42;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
}

.hero-button {
    background-color: #4D5AE5
    color: #ffffff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #ff4f41;
    /* Hover rengi */
}
}

/* Features */
.features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

/* Team Section */
.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

/* Portfolio Section */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

/* Footer */
.footer {
    background-color: #2e2f42;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}